
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 100;
    src: local("Lato Hairline"), local("Lato-Hairline"), url("http://fonts.gstatic.com/s/lato/v11/GtRkRNTnri0g82CjKnEB0Q.woff2") format("woff2"), url("http://fonts.gstatic.com/s/lato/v11/boeCNmOCCh-EWFLSfVffDg.woff") format("woff");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: local("Lato Light"), local("Lato-Light"), url("http://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2") format("woff2"), url("http://fonts.gstatic.com/s/lato/v11/KT3KS9Aol4WfR6Vas8kNcg.woff") format("woff");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url("http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2") format("woff2"), url("http://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff") format("woff");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"), local("Lato-Bold"), url("http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2") format("woff2"), url("http://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff") format("woff");
}



* {
font-family: "Open Sans",sans-serif;
}

h3 {
	font-weight: 700;
}

h4 {
	font-weight: 600;
}

.set-header {	 
    font-size: 14px;    
    background-color : #202024;
    min-height: 80px;    
}

.header-bar {
	background-color: #202024;
	min-height: 80px;
}
.set-nav {
	margin-top : 12px;
}

.navbar-default {
	border: 0px none;
	border-bottom : 1px solid #FF3B30;
}

.navbar-collapse > .navbar-nav a:hover,
.navbar-collapse .navbar-nav >.active a,
.navbar-collapse .navbar-nav >.active a:hover,
.navbar-default .navbar-nav > .active > a:focus {    
    color: #CACACA!important;
    border-color: #CACACA;
    border-radius: 5px;
    border-style : solid;
    border-width : 1px;
    background-color : #202024;
    border-spacing : 2px;
    margin:7px;
    padding:7px;
}

.logo {
	position : absolute;
	background-color: #FF3B30;
	padding: 20px 40px 0px 200px;
	min-height: 80px;
	font-size : 25px;
}

.logo a {
	color : #fff;
}

.logo a:hover {
    text-decoration: none;
}

.white {
	color: #fff;
}

.set-footer {
	background-color : #202024;
	min-height: 200px;
	padding: 20px 0px 0px 0px;
	color : #CACACA;
 }
 
.s-l {
	display:inline-block;
	width:64px;
	vertical-align: top;
}
.s-v {
	display:inline-block;
}
.ot-list {
	margin-left: 0px;
	padding-left: 20px;
}
.ot-list li {
	padding: 2px;	
}

.font_13 {
	font-size : 13px;
}

.padding10 {
	padding : 10px;
}

.padding20 {
	padding : 20px;
}

.service_heading {
	color : #FF3B30;
}

.service_image {	
	padding:10px;
	border: 1px solid #c7c7c7;
	border-radius : 10px;
	float:left;
	margin-right:10px;
	overflow:hidden;
}

.image_size {
	width:250px;
	height:170px;
}

.service_line {
	border: 1px solid #c7c7c7;
	margin: 30px;	
}

.bold {
	font-weight: bold;
}

.sub-heading-section {
    background-color: #ffb74d;
    color: #fff;
    font-size: 16px;
    margin-top: 50px;
}
.sub-heading {
    padding: 10px 0 0;
}

.map-box-head {
    background-color: #eaeaea;
    border: 1px solid #dadada;
    color: #434a54;
    font-size: 16px;
    font-weight: bold;
    padding: 9px 0 9px 13px;
    text-align: center;
}
.map figure {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
}
.map figure iframe {
    border: 0 none;
    height: 350px;
    max-width: 100%;
    width: 100%;
}

.button_style, .button_style:hover {
	background-color: #FF3B30;
	border: 1px solid #FF3B30;
}

.form-control, input[type="text"], input[type="email"], input[type="number"], input[type="password"], textarea, select {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-shadow: none;
    height: auto;
    padding: 15px;
}

.site_name {
	color:#FF3B30;
}
